* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Galada', cursive;
}

img {
    height: 100%;
    width: 100%;
}

div {
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 2em;
    line-height: 3em;
    color: white;
}

h1 {
    font-weight: 100 !important;

}