* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Galada', cursive;
}

img {
    height: 100%;
    width: 100%;
}

div {
    position: absolute;
    top: 30%;
    left: 0;
    font-size: 2em;
    line-height: 4em;
    color: white;
    text-align: center;
    width: 100%;
}

h1 {
    font-weight: 100 !important;
    text-shadow: 1px 1px 5px black;
}